$margin-md: 24px;
$padding-md: 24px;

.editor {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: hsl(var(--editor-bg));
  color: hsl(var(--editor-text));

  .editor-header {
    background-color: hsl(var(--editor-bg-header));

    &.hidden {
      display: none;
    }
  }

  .editor__header {
    display: flex;
    flex-flow: row;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid gainsboro;

    .editor__header-left {
      align-items: center;

      display: flex;
      flex-wrap: wrap;
      padding: 0.25rem;
    }

    .editor__header-middle {
      flex-grow: 1;
    }

    .editor__header-right {
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }
  }

  .sticky-widget {
    width: 100%;
    display: flex;
    flex-flow: row;

    .sticky-widget-left {
      flex-grow: 1;
    }

    .sticky-widget-right {
      height: 0;

      .sticky-widget-inner {
        position: relative;
        top: -0.25rem;
        height: 1.75rem;
        width: 1.75rem;
        padding: 0.25rem;
      }
    }
  }

  .editor-middle {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    justify-content: center;
    overflow-y: auto;
    padding-top: $padding-md;
    padding-bottom: $padding-md;
  }
  .editor-inner {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 10px 0px,
      rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;
    background-color: hsl(var(--editor-bg-inner));
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    min-height: 100%;
    max-width: 809.66px;

    .editor-content-wrapper {
      display: flex;
      flex-flow: row;
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;
      align-items: stretch;

      .editor-content-extra-left {
        max-width: 3rem;
        width: 5%;
        min-width: 1em;
      }

      .editor-content-extra-right {
        max-width: 3rem;
        width: 5%;
        min-width: 1em;
      }
    }

    .editor-content {
      padding: 2rem 0 2rem 0;
      flex: 1 1 auto;
      height: fit-content;
      max-width: 720px;
      min-width: 0;
      -webkit-overflow-scrolling: touch;

      :focus {
        border: none;
        outline: none;
      }
    }

    &__footer {
      align-items: center;
      border-top: 1px solid hsl(var(--border));
      color: hsl(var(--editor-text-footer));
      display: flex;
      flex: 0 0 auto;
      font-size: 12px;
      flex-wrap: wrap;
      font-weight: 600;
      justify-content: space-between;
      padding: 0.25rem 0.75rem;
      white-space: nowrap;
    }
  }
}
