@mixin scroll-style($size: 10px,
  $thumb: none,
  $thumb-color: grey,
  $thumb-radius: 10px,
  $track-color: transparent,
  $track-radius: 10px) {

  scrollbar-color: $thumb-color $track-color;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
    &-track {
      background-color: $track-color;
      border-radius: $track-radius;
    }
    &-thumb {
      background-color: $thumb-color;
      background-image: $thumb;
      border-radius: $thumb-radius;
    }
  }
}

.scroll {
  @include scroll-style(
      $size: var(--scroll-size, 10px),

      $thumb:  var(--scroll-thumb, none),
      $thumb-color: var(--scroll-thumb-color, grey),
      $thumb-radius: var(--scroll-thumb-radius, var(--scroll-radius)),
    
      $track-color: var(--scroll-track, transparent),
      $track-radius: var(--scroll-track-radius, var(--scroll-radius)),
    );
  
  &-1 {
    --scroll-size: 5px;
    --scroll-thumb-color: #dfdfdf;
  }

  &-7{
    --scroll-size: 5px;
    --scroll-thumb-color: transparent;
    &:hover{
      --scroll-size: 5px;
    --scroll-thumb-color:#dfdfdf52;
    }
  }

  &-2 {
    --scroll-size: 8px;
    --scroll-radius: 10px;
    --scroll-track: rgb(255 255 255 / 10%);
    --scroll-thumb-color: rgb(0 0 0 / 80%);
  }

  &-3 {
    --scroll-size: 5px;
    --scroll-radius: 10px;
    --scroll-track: rgb(255 255 255 / 10%);
    --scroll-thumb-color: #fff;
  }

  &-4 {
    $bg-mask: rgb(255 255 255 / 25%);
    --scroll-size: 12px;
    --scroll-radius: 20px;
    --scroll-track: rgb(0 0 0 / 40%);
    --scroll-thumb: linear-gradient(45deg,
        #{$bg-mask} 20%, transparent 20%,
        transparent 40%, #{$bg-mask} 40%,
        #{$bg-mask} 60%, transparent 60%,
        transparent 80%, #{$bg-mask} 80%);
    --scroll-thumb-color: #f97316;
  }
  
  &-5 {
    --scroll-size: 6px;
    --scroll-radius: 8px;
    --scroll-track: rgb(255 255 255 / 10%);
    --scroll-thumb: linear-gradient(45deg, #00aeff, #a68eff);
  }
  
  &-6 {
    $bg-mask: rgb(255 255 255 / 30%);
    --scroll-size: 12px;
    --scroll-radius: 20px;
    --scroll-track: rgb(0 0 0 / 40%);
    --scroll-thumb: linear-gradient(
        #{$bg-mask} 20%, transparent 20%,
        transparent 40%, #{$bg-mask} 40%,
        #{$bg-mask} 60%, transparent 60%,
        transparent 80%, #{$bg-mask} 80%);
    --scroll-thumb-color: #10b981;
  }

  &-8 {
    --scroll-size: 8px;
    --scroll-thumb-color: transparent;
    &:hover{
      --scroll-size: 8px;
    --scroll-thumb-color: #cbcdd1;
    }
  }
}

@for $i from 4 through 8 {
  .h#{$i}00 {
    height: #{$i}00px;
  }
}
