.code-block {
  position: relative;
  margin-top: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;

  .bar {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 1px solid #e0e0e0;

    .language-select {
      background-color: transparent;
      border: 0;
      color: gray;
      width: 6em;
      text-align: right;

      &::-webkit-scrollbar {
        width: 0;
      }

      .language-option {
        color: white;
        text-align: center;
        opacity: 0.8;
        background-color: gray;

        &:hover {
          background-color: #70cff8;
        }
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .copy-button {
        background: inherit;
        border: none;
        color: gray;
        font-size: 0.8em;
        transition: color 0.3s ease;

        &:hover {
          color: #007bff;
        }
      }

      .copied-text {
        font-size: 0.8em;
        color: #28a745;
        animation: fadeInOut 3s ease-in-out;
      }
    }
  }

  .code-wrapper {
    background-color: #1e1e1e;
    color: #f8f8f2;
    padding: 12px;
    border-radius: 4px;
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
    overflow-x: auto;

    @keyframes fadeInOut {
      0%, 100% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
    }
  }

  // Mixin can be simplified
  div {
    overflow-x: auto;
    scrollbar-color: gray transparent;
    scrollbar-width: thin;

    &:hover {
      scrollbar-color: #dfdfdf52 transparent;
    }
  }
}

.hover-action {
  .hover-visible {
    visibility: hidden;
    transition: visibility 0.2s ease;
  }

  &:hover {
    .hover-visible {
      visibility: visible;
    }
  }
}

.ProseMirror pre {
  padding: 0;

  .code-wrapper {
    padding: 1rem 1rem;
  }

  code {
    div {
      overflow-x: auto;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}
