
.suggestion-panel {
    position: relative;
    border-radius: 0.25rem;
    background: var(--color-bg-base);
    color: var(--color-text-base);
    overflow: hidden;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    font-size: 0.9rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
    display: flex;
    width: 6em;
    flex-grow: 1;
    text-align: left;
    background: transparent;
    border: none;
    padding: 0.2rem 0.5rem;
    overflow: hidden;
    gap: 0.5em;

    .remix {
        height: 1.2em;
        width: 1.2em;
    }

    .title-wrapper {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &.is-selected,
    &:hover {
        border-radius: 0.2em;
        color: #a975ff;
        background: rgba(#a975ff, 0.1);
    }
}