ul[data-type="taskList"] {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    align-items: flex-start !important;

    >label {
      flex: 0 0 auto;
      margin-right: 0.5rem;
      user-select: none;
      padding-top: 1px;
    }

    p {
      margin: 0 !important;
    }

    >div {
      flex: 1 1 auto;
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
  }

}