.zenmark-iframe-wrapper {
    position: relative;
    padding-bottom: 45%;
    height: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
  
    &.ProseMirror-selectednode {
      outline: 3px solid hsl(var(--iframe-selected-outline));
    }
  
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }