.zenmark-menu-item {
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  height: 1.75rem;
  padding: 0.25rem;
  width: 1.75rem;

  svg {
    fill: currentColor;
    height: 1rem;
    width: 100%;
  }
}
